# Нам не нужны генерируемые бинарники
# Под Linux - исполняемый файл без разширения
project1
# Под Windows - исполняемый файл с расширением exe
project1.exe

# файлы, которые исползует бинарник - обновляются при каждой компиляции
*.lps
*.res
# так же такие файлы расположены в папке lib
lib/*

# также нам не нужно хранить старые бекапы - ведь есть git
backup/*
